.navi {
  background-color: blue;
}

.links {
  border-bottom: 1px solid black;

}

.view-pane {
  min-height: auto;
  border-left: 1px solid black;
  background-color: aquamarine;

  
}

.link {
  color: blue;
  text-align: center;
  margin: 1rem;
  font-size: 1.1rem
}

